.homecard{
    font-family: sans-serif;
    width: 600px;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 10px;
    background-color: #ffff;
    padding: 0.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
}
.blogshort {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;            
}